<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Setting - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="./images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/dashboard.svg"></object>
                        <a href="./adminDashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/class.svg"></object>
                        <a href="./classes.html" class="sidebar-option">Classes</a>
                    </div>
                    <div class="sidebar-btn-container active-btn ">
                        <object data="./icons/students.svg"></object>
                        <a href="./students.html" class="sidebar-option">Students</a>
                    </div>
                    <div class="sidebar-btn-container ">
                        <object data="./icons/feeStructure.svg"></object>
                        <a href="./feeStructure.html" class="sidebar-option">Fee Structure</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/billing.svg"></object>
                        <a href="./billing.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/setting.svg"></object>
                        <a href="./settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="students-main">
                    <div class="student-imports-bar">
                        <div class="student-imports-title">
                            <p>Students</p>
                        </div>
                        <div class="student-imports-btns">
                        </div>
                    </div>
                    <div class="student-add">
                        <h3>Add Students</h3>
                        <div class="add-students-options">
                            <div class="manual-add-btn">
                                <a href="">Manually</a>
                            </div>
                            <div class="csv-add-btn">
                                <a href="">Import CSV</a>
                            </div>
                        </div>
                        <div class="student-add-form-wrapper">
                            <form action="" class="student-add-form">
                                <div class="form-element">
                                    <input name="name" type="text" placeholder="Enter Student Name" required>
                                    <input type="email" name="email" placeholder="Enter Students Email Addres">
                                </div>
                                <div class="form-element">
                                    <select name="class" required>
                                        <option value="class1">Class 1</option>
                                        <option value="class2">Class 2</option>
                                        <option value="class3">Class 3</option>
                                        <option value="class4">Class 4</option>
                                        <option value="class5">Class 5</option>
                                    </select>
                                    <select name="gender" required>
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                        <option value="other">Other</option>
                                    </select>
                                    <input type="text" name="dob" placeholder="Date of birth , DD/MM/YYYY" required>
                                </div>
                                <div class="form-element">
                                    <input type="password" name="password" placeholder="Enter Your Password">
                                    <input type="text" name="studentId" placeholder="Enter Your Student Id">
                                </div>
                                <div class="form-element">
                                    <button class="add-another-btn">Add Another</button>
                                    <button class="add-one-btn">Add Student</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>