<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Transactions - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="./images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/dashboard.svg"></object>
                        <a href="./adminDashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/class.svg"></object>
                        <a href="./classes.html" class="sidebar-option">Classes</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/students.svg"></object>
                        <a href="./students.html" class="sidebar-option">Students</a>
                    </div>
                    <div class="sidebar-btn-container ">
                        <object data="./icons/feeStructure.svg"></object>
                        <a href="./feeStructure.html" class="sidebar-option">Fee Structure</a>
                    </div>
                    <div class="sidebar-btn-container active-btn">
                        <object data="./icons/billing.svg"></object>
                        <a href="./billing.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/setting.svg"></object>
                        <a href="./settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="students-main">
                    <div class="student-imports-bar">
                        <div class="student-imports-title">
                            <p>Transactions</p>
                        </div>
                        <div class="student-imports-btns">
                        </div>
                    </div>
                    <div class="transaction-add">
                        <h3>Add Transactions</h3>
                        <div class="transaction-add-form-wrapper">
                            <form action="" class="transaction-add-form">
                                <div class="form-element">
                                    <input name="name" type="text" placeholder="Enter Student ID" required>
                                </div>
                                <div class="form-element">
                                    <select name="class" required>
                                        <option value="" disabled selected hidden>Class</option>
                                        <option value="class1">Class 1</option>
                                        <option value="class2">Class 2</option>
                                        <option value="class3">Class 3</option>
                                        <option value="class4">Class 4</option>
                                        <option value="class5">Class 5</option>
                                    </select>
                                    <select name="year" required>
                                        <option value="" disabled selected hidden>Year</option>
                                        <option value="20023">2023</option>
                                        <option value="2024">2024</option>
                                        <option value="2025">2025</option>
                                    </select>
                                    <select name="month" required>
                                        <option value="" disabled selected hidden>Month</option>
                                        <option value="January">January</option>
                                        <option value="February">February</option>
                                        <option value="March">March</option>
                                    </select>
                                </div>
                                <div class="form-element">
                                    <input type="tel" name="studentId" placeholder="Enter Student Mobile Number">
                                    <input type="email" name="studentId" placeholder="Enter Student Email Address">
                                </div>
                                <div class="form-element">
                                    <input type="txt" name="studentId" placeholder="Enter Amount">
                                    <select name="month" required>
                                        <option value="" disabled selected hidden>Mode</option>
                                        <option value="cash">Cash</option>
                                        <option value="online">Online</option>
                                    </select>
                                </div>
                                <div class="form-element">
                                    <button class="add-one-btn">Add Transaction</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>