<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login - P.N. Academy</title>
    <link rel="stylesheet" href="./index.css">
</head>

<body>
    <div class="container">
        <div class="auth">
            <div class="auth-left-container">
                <div class="auth-left">
                    <div class="greeting-container">
                        <h2 id="greetings">
                            Welcome To P.N Academy
                        </h2>
                        <div class="big-logo">
                            <img src="./images/school-logo.jpeg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="auth-right-container">
                <div class="auth-right">
                    <h4 id="student-signIn">Sign In As A Student</h4>
                    <form action="post" class="form login-form">
                        <input type="text" placeholder="Student Id">
                        <input type="password" placeholder="Password">
                        <button type="submit" class="btn lgn-btn">Login</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</body>

</html>