<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="./images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container active-btn ">
                        <object data="./icons/dashboard.svg"></object>
                        <a href="./adminDashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/class.svg"></object>
                        <a href="./classes.html" class="sidebar-option">Classes</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/students.svg"></object>
                        <a href="./students.html" class="sidebar-option">Students</a>
                    </div>
                    <div class="sidebar-btn-container ">
                        <object data="./icons/feeStructure.svg"></object>
                        <a href="./feeStructure.html" class="sidebar-option">Fee Structure</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/billing.svg"></object>
                        <a href="./billing.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/setting.svg"></object>
                        <a href="./settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                        <p>Learn how to launch faster</p>
                        <p>Watch our webiar for tips from our experts and get a limited time offer</p>
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="dashboard-main">
                    <div class="dash-action-container">
                        <h2>Welcome to your dashboard , P.N Academy</h2>
                        <div class="actions">
                            <div class="action-container">
                                <object data="./icons/admin.svg"></object>
                                <a href="./billing.html" class="sidebar-option">Add Other Admins</a>
                            </div>
                            <div class="action-container">
                                <object data="./icons/class-big.svg"></object>
                                <a href="./billing.html" class="sidebar-option">Add Classes</a>
                            </div>
                            <div class="action-container">
                                <object data="./icons/student-big.svg"></object>
                                <a href="./billing.html" class="sidebar-option">Add Students</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</body>

</html>