<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fee Structure - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="./images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/dashboard.svg"></object>
                        <a href="./adminDashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/class.svg"></object>
                        <a href="./classes.html" class="sidebar-option">Classes</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/students.svg"></object>
                        <a href="./students.html" class="sidebar-option">Students</a>
                    </div>
                    <div class="sidebar-btn-container active-btn ">
                        <object data="./icons/feeStructure.svg"></object>
                        <a href="./feeStructure.html" class="sidebar-option">Fee Structure</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/billing.svg"></object>
                        <a href="./billing.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/setting.svg"></object>
                        <a href="./settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="fee-structure-main">
                    <div class="fee-structure-slider">
                        <a href="./feeStructure.html" class="active-slider">Fee Structure</a>
                        <a href="./addFeeStructure.html">New Fee Structure</a>
                    </div>
                    <div class="fee-structure-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>S.No</th>
                                    <th>Class</th>
                                    <th>Year</th>
                                    <th>Month</th>
                                    <th>Tution Fee</th>
                                    <th>Transport Fee</th>
                                    <th>Exam Fee</th>
                                    <th>Library Fee</th>
                                    <th>Hostel Fee</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>1A</td>
                                    <td>2023</td>
                                    <td>January</td>
                                    <td>500</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>2A</td>
                                    <td>2023</td>
                                    <td>January</td>
                                    <td>500</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>3A</td>
                                    <td>2023</td>
                                    <td>January</td>
                                    <td>500</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>4A</td>
                                    <td>2023</td>
                                    <td>January</td>
                                    <td>500</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>5A</td>
                                    <td>2023</td>
                                    <td>January</td>
                                    <td>500</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>6A</td>
                                    <td>2023</td>
                                    <td>January</td>
                                    <td>500</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>
                                <tr>
                                    <td>1</td>
                                    <td>7A</td>
                                    <td>2023</td>
                                    <td>January</td>
                                    <td>500</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                    <td>0</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>