<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Role & Permission Settings - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>
<style>


</style>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="./images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/dashboard.svg"></object>
                        <a href="./adminDashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/class.svg"></object>
                        <a href="./classes.html" class="sidebar-option">Classes</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/students.svg"></object>
                        <a href="./students.html" class="sidebar-option">Students</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/feeStructure.svg"></object>
                        <a href="./feeStructure.html" class="sidebar-option">Fee Structure</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/billing.svg"></object>
                        <a href="./billing.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container active-btn">
                        <object data="./icons/setting.svg"></object>
                        <a href="./settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="fee-structure-main">
                    <div class="fee-structure-slider">
                        <a href="./settings.html">Account Setting</a>
                        <a href="./login&security.html" >Login & Security</a>
                        <a href="./role&permission.html" class="active-slider" >Role & Permission</a>
                    </div>
                    <div class="account-setting-form">
                        <form>
                            <div class="profile-data">
                                <div class="form-element">
                                    <label for="FullName">
                                        <span>Role</span>
                                        <input name="name" type="text" placeholder="" value="Admin"  disabled>
                                    </label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>