<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students Setting - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="./images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/dashboard.svg"></object>
                        <a href="./adminDashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="./icons/class.svg"></object>
                        <a href="./classes.html" class="sidebar-option">Classes</a>
                    </div>
                    <div class="sidebar-btn-container active-btn ">
                        <object data="./icons/students.svg"></object>
                        <a href="./students.html" class="sidebar-option">Students</a>
                    </div>
                    <div class="sidebar-btn-container ">
                        <object data="./icons/feeStructure.svg"></object>
                        <a href="./feeStructure.html" class="sidebar-option">Fee Structure</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/billing.svg"></object>
                        <a href="./billing.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="./icons/setting.svg"></object>
                        <a href="./settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="students-main">
                    <div class="student-imports-bar">
                        <div class="student-imports-title">
                            <p>Students</p>
                        </div>
                        <div class="student-imports-btns">
                            <div class="export-csv-btn">
                                <a href="">Export CSV</a>
                            </div>
                            <div class="add-students-btn">
                                <a href="">Add Student</a>
                            </div>
                        </div>
                    </div>
                    <div class="student-list-wrapper">
                        <div class="student-filter-wrapper">
                            <div class="search-wrapper">
                                <object data="./icons/search-icon.svg" type=""></object>
                                <input type="text" placeholder="Search For A Student By Name,Email,Id or Class">
                            </div>
                        </div>
                        <div class="student-list">
                            <div class="student-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>Name</th>
                                            <th>Student ID</th>
                                            <th>Email Address</th>
                                            <th>Class</th>
                                            <th>Gender</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                        <tr>
                                            <td>3</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>John Doe</td>
                                            <td>2021001</td>
                                            <td>johndoe@example.com</td>
                                            <td>12</td>
                                            <td>Male</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="student-profile">
                                <div class="main-student-profile">
                                    <div class="student-id">
                                        <p>547030</p>
                                    </div>
                                    <div class="student-profile-wrapper">
                                        <img width="200" height="200" src="./images/profile.jpg" alt="profile pic">
                                    </div>
                                    <div class="student-card">
                                        <p>Cody Fisher</p>
                                        <p>Science Student</p>
                                    </div>
                                </div>
                                <div class="student-about">
                                    <h3>About</h3>
                                    <p>Hello</p>
                                </div>
                                <div class="student-misc">
                                    <div class="student-age">
                                        <h3>Age</h3>
                                        <p>17</p>
                                    </div>
                                    <div class="student-gender">
                                        <h3>Gender</h3>
                                        <p>Female</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>