<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="/images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container active-btn ">
                        <object data="../icons/dashboard.svg"></object>
                        <a href="/students/dashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="../icons/billing.svg"></object>
                        <a href="/students/transaction.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="../icons/setting.svg"></object>
                        <a href="/students/settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                        <p>Learn how to launch faster</p>
                        <p>Watch our webiar for tips from our experts and get a limited time offer</p>
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="dashboard-main">
                    <div class="dash-action-container">
                        <h2>Welcome to your dashboard , P.N Academy</h2>
                        <div class="main-faculty">
                            <div class="faculty-container">
                                <img src="/images/director.jpeg" alt="">
                                <span>Dr. Ashok Tiwari </span>
                                <span class="title">Director</span>

                            </div>
                            <div class="faculty-container">
                                <img src="/images/principle.jpeg" alt="">
                                <span>Mr Lama</span>
                                <span class="title">Principle</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>