<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Settings - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>
<style>

</style>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="/images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container  ">
                        <object data="../icons/dashboard.svg"></object>
                        <a href="/students/dashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container">
                        <object data="../icons/billing.svg"></object>
                        <a href="/students/transaction.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container active-btn ">
                        <object data="../icons/setting.svg"></object>
                        <a href="/students/settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="fee-structure-main">
                    <div class="fee-structure-slider">
                        <a href="/students/settings.html" >Account Setting</a>
                        <a href="/students/login&security.html" class="active-slider" >Login & Security</a>
                        <a href="/students/role&permission.html">Role & Permission</a>
                    </div>
                    <div class="account-setting-form">
                        <form>
                            <div class="profile-data">
                                <div class="form-element">
                                    <label for="FullName">
                                        <span>Password</span>
                                        <input name="name" type="password" placeholder="Enter Your Password" required>
                                    </label>
                                </div>
                                <div class="form-element">
                                    <label for="PhoneNumber">
                                        <span>New Password</span>
                                        <input name="mobile" type="password" placeholder="Enter Your New Password"
                                            required>
                                    </label>
                                </div>
                                <div class="form-element">
                                    <label for="PhoneNumber">
                                        <span>Confirm New Password</span>
                                        <input name="mobile" type="password" placeholder="Confirm Your New Password"
                                            required>
                                    </label>
                                </div>
                            </div>
                            <div class="profile-submit-btn">
                                <button type="submit">
                                    Change Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>