<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Settings - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>
<style>

</style>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="/images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container  ">
                        <object data="../icons/dashboard.svg"></object>
                        <a href="/students/dashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container active-btn">
                        <object data="../icons/billing.svg"></object>
                        <a href="/students/transaction.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="../icons/setting.svg"></object>
                        <a href="/students/settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="fee-structure-main">
                    <div class="fee-structure-slider">
                        <a href="/students/transaction.html">Transactions</a>
                        <a href="/students/newTransaction.html" class="active-slider">New Transactions</a>
                        <a href="/students/pendingTransaction.html">My Transactions</a>
                    </div>
                    <div class="transaction-main">
                        <div class="transaction-form">
                            <div class="form-wrapper">
                                <label for="">Student ID</label>
                                <input type="text" name="" id="">
                            </div>
                            <div class="form-wrapper">
                                <select name="class" required>
                                    <option value="" disabled selected hidden>Class</option>
                                    <option value="class1">Class 1</option>
                                    <option value="class2">Class 2</option>
                                    <option value="class3">Class 3</option>
                                    <option value="class4">Class 4</option>
                                    <option value="class5">Class 5</option>
                                </select>
                            </div>
                            <div class="form-wrapper">
                                <select name="year" required>
                                    <option value="" disabled selected hidden>Year</option>
                                    <option value="20023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                </select>
                            </div>
                            <div class="form-wrapper">
                                <select name="month" required>
                                    <option value="" disabled selected hidden>Month</option>
                                    <option value="January">January</option>
                                    <option value="February">February</option>
                                    <option value="March">March</option>
                                </select>
                            </div>
                        </div>
                        <div class="transaction-view">
                            <div class="view-wrapper">
                                <span>Exam Fee</span>
                                <span>0</span>
                            </div>
                            <div class="view-wrapper">
                                <span>Hostel Fee</span>
                                <span>0</span>
                            </div>
                            <div class="view-wrapper">
                                <span>Transport Fee</span>
                                <span>0</span>
                            </div>
                            <div class="view-wrapper">
                                <span>Tution Fee</span>
                                <span>0</span>
                            </div>
                            <div class="view-wrapper">
                                <span>Total Fee</span>
                                <span>400</span>
                            </div>
                        </div>
                        <div>
                            <button class="btn pay-now-btn">Pay Now</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

</html>