<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Settings - P.N. Academy</title>
    <link rel="stylesheet" href="../index.css">
</head>
<style>

</style>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="sidebar">
                <div class="sidebar-top">
                    <div class="small-logo">
                        <img src="/images/school-logo.jpeg" alt="">
                    </div>
                    <h2 id="greetings-small">
                        P.N Academy
                    </h2>
                </div>
                <div class="sidebar-bottom">
                    <div class="sidebar-btn-container  ">
                        <object data="../icons/dashboard.svg"></object>
                        <a href="/students/dashboard.html" class="sidebar-option">Dashboard</a>
                    </div>
                    <div class="sidebar-btn-container active-btn">
                        <object data="../icons/billing.svg"></object>
                        <a href="/students/transaction.html" class="sidebar-option">Billing</a>
                    </div>
                    <div class="sidebar-btn-container  ">
                        <object data="../icons/setting.svg"></object>
                        <a href="/students/settings.html" class="sidebar-option">Setting & Profile</a>
                    </div>
                </div>
            </div>
            <div class="main">
                <div class="navbar dashboard-nav">
                    <div class="dashboard-welcome">
                    </div>
                    <div class="dashboard-nav-btn-wrapper">
                        <div class="logout-btn">
                            <a href="">Log Out</a>
                        </div>
                    </div>
                </div>
                <div class="fee-structure-main">
                    <div class="fee-structure-slider">
                        <a href="/students/transaction.html" class="active-slider">Transactions</a>
                        <a href="/students/newTransaction.html">New Transactions</a>
                        <a href="/students/pendingTransaction.html">My Transactions</a>
                    </div>
                    <div class="transaction-list">
                        <div class="transaction-table">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Student ID</th>
                                        <th>Class</th>
                                        <th>Transaction ID</th>
                                        <th>Month</th>
                                        <th>Year</th>
                                        <th>Mode</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>
                                    <tr>
                                        <td>Brajesh</td>
                                        <td>19CSE10</td>
                                        <td>5</td>
                                        <td>NA</td>
                                        <td>January</td>
                                        <td>2023</td>
                                        <td>Offline</td>
                                        <td>500</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>