* {
  margin: 0;
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  background-color: rgb(230, 230, 233);
}

.auth {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: hsla(221, 73%, 63%, 0.51);
}

.auth-left-container {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-left {
  width: 40vw;
}

.auth-right {
  width: 60vw;
}

.auth-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.greeting-container {
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#greetings {
  margin-bottom: 2rem;
  color: white;
  font-size: 42px;
}
#greetings-small {
  color: white;
}

.big-logo {
  width: 350px;
  height: 350px;
  border-radius: 2rem;
}

.small-logo {
  width: 100px;
  height: 100px;
  border-radius: 2rem;
}

.big-logo img {
  width: 350px;
  height: 350px;
  border-radius: 2rem;
}

.small-logo img {
  width: 100px;
  height: 100px;
  border-radius: 2rem;
}

.auth-right-container {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem 0 0 1rem;
  background-color: white;
}

.auth-right {
  margin-left: 5rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
}

.form input {
  margin: 0.25rem 0 0.25rem;
  padding: 0.25rem;
  height: 2rem;
  width: 30rem;
  max-width: 40vw;
}

.form button {
  margin: 0.5rem 0 0.25rem 0;
  height: 2rem;
  width: 30.6rem;
  max-width: 40vw;
}

.brn {
  width: 575px;
  height: 60px;
}

.login-form {
  margin-top: 2rem;
  padding: 1rem;
  border: 1px solid rgb(236, 221, 221);
  width: fit-content;
}

.login-form input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.lgn-btn {
  background-color: #5b86e5;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.sidebar {
  background-color: hsla(229, 62%, 22%, 1);
  max-width: 260px;
  flex: 1;
}

.sidebar-top {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 0 2rem 0;
  border-bottom: 1px solid white;
}
.sidebar-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem 0 2rem 0;
  border-bottom: 1px solid white;
}

.sidebar-btn-container {
  margin: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: first baseline;
  width: 150px;
}

.active-btn {
  background-color: hsla(207, 66%, 59%, 1);
  border-radius: 0.5rem;
}

.sidebar-option {
  margin-left: 0.5rem;
  font-weight: 600;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
}

.main {
  background-color: rgb(255, 255, 255);
  flex: 4;
}

.dashboard-nav {
  margin: 0rem 4rem 1rem 3rem;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(189, 165, 165);
}

.dashboard-nav-btn-wrapper {
  display: flex;
  flex-direction: row;
  background-color: #f5f6f8;
  border: 1px solid pink;
  border-radius: 1rem;
  padding: 1rem;
}

.user-welcome {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
}

.user-welcome .name {
  font-size: 1rem;
  color: #4f15f0;
}

.user-welcome ._id {
  font-size: 0.75rem;
  color: rgb(183, 130, 130);
}

.dashboard-welcome {
  padding-left: 2rem;
}

.logout-btn {
  border: 1px solid rgb(198, 188, 188);
  background-color: rgb(154, 97, 207);
  width: 6rem;
  height: 2.5rem;
  border-radius: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 18px;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dashboard-main h2 {
  font-size: 36px;
  color: #4f4f4f;
  word-wrap: break-word;
}

.dashboard-main .actions {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

.main-faculty {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  width: 700px;
  justify-content: space-between;
  align-items: center;
}

.faculty-container {
  border: 1px solid pink;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  text-align: center;
}

.faculty-container img {
  width: 250px;
  height: 250px;
  border-radius: 2rem;
  margin-bottom: 1rem;
}
.faculty-container span {
  padding: 0.5rem;
  font-size: 1.25rem;
}

.faculty-container .title {
  font-size: 1rem;
  color: #641212;
}

.actions .action-container {
  border-radius: 1rem;
  margin: 0.25rem 0 0.5rem 2rem;
  padding: 1rem;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 255, 255);
  color: black;
  border: 1px solid rgb(224, 218, 218);
}

.actions .action-container object {
  width: 25px;
  height: 25pxs;
}

.actions .action-container a {
  color: black;
  width: 250px;
}

.student-imports-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid rgb(223, 209, 209);
  margin: 0 4rem 0 3rem;
}

.student-imports-title {
  font-size: 22px;
  color: rgb(37, 4, 4);
  margin-left: 2rem;
}
.student-imports-btns {
  display: flex;
  flex-direction: row;
  margin-right: 3rem;
}

.export-csv-btn {
  width: 120px;
  margin: 0.25rem;
  border: 1px solid pink;
  border-radius: 1rem;
  padding: 0.35rem;
  text-align: center;
  background-color: rgb(22, 96, 22);
}

.export-csv-btn a {
  color: white;
}

.add-students-btn {
  width: 120px;
  margin: 0.25rem;
  padding: 0.35rem;
  border: 1px solid pink;
  border-radius: 1rem;
  text-align: center;
  background-color: rgb(118, 118, 221);
}
.add-students-btn a {
  color: white;
}

.list {
  margin: 2rem;
  display: flex;
}

.filter-wrapper {
  margin-left: 3rem;
  margin-top: 1rem;
}

.search-wrapper {
  width: 500px;
  height: 1.5rem;
  display: flex;
  align-items: center;
  padding: 0.25rem;
  border: 1px solid pink;
  border-radius: 0.25rem;
}

.search-wrapper object {
  margin-right: 0.5rem;
}

.search-wrapper input {
  height: 1.25rem;
  padding-left: 0.5rem;
  border: none;
  width: 100%;
}

.table {
  border-collapse: collapse;
  width: 100%;
  flex: 3;
  overflow: auto;
  height: calc(70vh);
}

.student-profile {
  flex: 2;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.student-profile {
  margin: 3rem;
  border: 1px solid rgb(210, 195, 195);
  padding: 2rem;
  height: max-content;
}

.main-student-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2rem 0;
}

.main-student-profile .student-id {
  padding: 0.5rem;
  font-size: 24px;
}

.main-student-profile .student-profile-wrapper {
  width: 200px;
  height: 200px;
  border-radius: 3rem;
  padding: 1rem;
}
.main-student-profile img {
  width: 200px;
  height: 200px;
  border-radius: 3rem;
}

.main-student-profile .student-card {
  text-align: center;
  font-size: 20px;
}

.student-profile .student-about {
  margin: 0 0 2rem 0;
}
.student-profile .student-about h3 {
  margin: 0 0 0.5rem 0;
}
.student-misc {
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.student-add {
  padding: 1rem;
  margin: 2rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
}

.student-add h3 {
  font-size: 32px;
  border-bottom: 1px solid pink;
  margin-bottom: 0.25rem;
}

.student-add .add-students-options {
  width: 220px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-students-options div {
  width: 90px;
  padding: 0.25rem;
  margin: 0 0.5rem 0 0;
  border: 1px solid pink;
  border-radius: 1rem;
  text-align: center;
}
.add-students-options div a {
  color: white;
}

.manual-add-btn {
  background-color: #5b86e5;
}

.csv-add-btn {
  background-color: #e01c1c;
}

.student-add .student-add-form-wrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid pink;
  margin-top: 0.25rem;
}

.student-add .student-add-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  background-color: #e6d6d6;
  border-radius: 1rem;
}

.student-add .student-add-form .form-element {
  padding: 0.5rem;
  max-width: 60vw;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-element input {
  max-width: 25vw;
  padding: 0.25rem 0 0.25rem 0.5rem;
  font-size: 1rem;
  height: 1.75rem;
  width: 275px;
  border-radius: 0.5rem;
  border: 1px solid pink;
}

.form-element select {
  height: 2rem;
  width: 130px;
  max-width: 10vw;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid pink;
}

.form-element button {
  width: 250px;
  height: 2rem;
  border-radius: 1rem;
  border: none;
  border: 1px solid pink;
}

.fee-structure-slider {
  display: flex;
  flex-direction: row;
  margin-left: 3rem;
  margin-bottom: 1rem;
}
.fee-structure-slider a {
  padding: 0.25rem 0.25rem 0.25rem 0;
  margin-right: 2rem;
  border-bottom: 1px solid pink;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.fee-structure-slider .active-slider {
  border-bottom: 1px solid #d74632;
  color: #d74632;
}

.fee-structure-table {
  margin-left: 3rem;
  width: 800px;
}

.fee-add-form-wrapper {
  display: flex;
  justify-content: center;
  border-top: 1px solid pink;
  margin-top: 0.25rem;
}

.fee-add-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  background-color: #e6d6d6;
  border-radius: 1rem;
}

.fee-add-form .form-element {
  padding: 0.5rem;
  max-width: 60vw;
  width: 640px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fee-add-form .form-element select {
  width: 250px !important;
  max-width: 10vw;
  min-width: 150px;
  height: 2.25rem;
}

.transaction-list {
  margin: 2rem 0 0 3rem;
}

.transaction-filter-wrapper {
  margin-left: 3rem;
  margin-top: 1rem;
}

.transaction-table {
  border-collapse: collapse;
  width: 100%;
  overflow: auto;
  height: calc(70vh);
}

.transaction-add {
  padding: 1rem;
  margin: 2rem;
  background-color: #f2f2f2;
  border-radius: 1rem;
}

.transaction-add h3 {
  font-size: 32px;
  border-bottom: 1px solid pink;
  margin-bottom: 0.25rem;
}

.transaction-add .transaction-add-form-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 0.25rem;
}

.transaction-add .transaction-add-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 2rem;
  background-color: #e6d6d6;
  border-radius: 1rem;
}

.transaction-add .transaction-add-form .form-element {
  padding: 0.5rem;
  max-width: 60vw;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.transaction-add-form .form-element select {
  width: 250px !important;
  max-width: 10vw;
  min-width: 150px;
  height: 2.25rem;
}

.custom-button {
  display: inline-block;
  padding: 30px 30px;
  background-color: #eaeaea;
  border: 2px dashed rgb(204, 138, 149);
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 110px;
  text-align: center;
}

.custom-button img {
  padding: 20px 20px;
  margin: 0.25rem;
}

.custom-button input[type="file"] {
  display: none;
}

.account-setting-form form {
  margin: 2rem 0 0 3rem;
}

.profile-picture-selector {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.profile-picture-selector span {
  margin-bottom: 1rem;
}

.profile-picture-selector label {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-data .form-element {
  display: flex;
  flex-direction: row;
}

.profile-data .form-element label {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.profile-data .form-element label span {
  padding: 0 0 0.5rem 0;
}
.profile-data .form-element label input {
  width: 500px;
  background-color: #edf2f6;
}

.profile-submit-btn {
  margin-top: 3rem;
  margin-left: 1rem;
}
.profile-submit-btn button {
  width: 200px;
  height: 2.5rem;
  border: 1px solid pink;
  border-radius: 0.5rem;
  background-color: red;
  color: white;
  font-size: 18px;
}

.transaction-main {
  margin: 2rem 0 0 3rem;
}

.transaction-form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.transaction-form .form-wrapper {
  display: flex;
  flex-direction: column;
  width: 340px;
  max-width: 15vw;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.transaction-form .form-wrapper select {
  width: 300px;
  max-width: 14vw;
  height: 2.75rem;
  border-radius: 0.5rem;
  text-align: center;
  background-color: rgb(213, 213, 226);
  color: black;
  font-size: 1.25rem;
}

.transaction-form .form-wrapper input {
  margin-top: 0.25rem;
  width: 300px;
  max-width: 14vw;
  height: 2.5rem;
  font-size: 1.25rem;
  padding: 0 0 0 0.25rem;
  border-radius: 0.5rem;
}

.transaction-view {
  margin-top: 1rem;
  padding: 0.25rem;
}

.transaction-view .view-wrapper {
  display: flex;
  flex-direction: row;
  width: 300px;
  justify-content: space-between;
  padding: 0.25rem 0;
}
.transaction-view .view-wrapper span {
  width: 100px;
}

.pay-now-btn-wrapper {
  margin-top: 3rem;
}
.pay-now-btn {
  background-color: #672025;
  border: 1px solid pink;
  border-radius: 0.5rem;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: bold;
  width: 120px;
  height: 2.75rem;
}

.add-one-btn {
  background-color: rgb(236, 74, 74);
  border-radius: 1rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  border: 1px solid rgb(220, 184, 184);
  font-size: 1.125rem;
  color: white;
  cursor: pointer;
}
